.taskItem {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #b2c9d4;
  border-radius: 5px;

  transition: background-color 0.3s;
}

.taskItem:hover {
  background-color: #7f9eb2;
  color: white;
}

.label {
  display: flex;
}

.done .label {
  text-decoration: line-through;
}

.button {
  padding: 5px 10px;
  color: white;
  border: 0;
  background-color: #ff6b6b;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff4c4c;
}