.container {
  width: 100%;
  max-width: 700px;
  margin: 8vh auto 0;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.title {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #7f9eb2;
}